<!DOCTYPE html>
<html>
  <head>
    <title>Trading Bot</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@2.30.0/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js"
      integrity="sha512-Hn1w6YiiFw6p6S2lXv6yKeqTk0PLVzeCwWY9n32beuPjQ5HLcvz5l2QsP+KilEr1ws37rCTw3bZpvfvVIeTh0Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <style>
      .chart-container {
        position: relative;
      }

      .custom-tooltip {
        position: absolute;
        padding: 4px;
        background-color: red;
        border: 3px solid black;
        pointer-events: none;
      }
    </style>
  </head>
  <body>
    <form id="asset-form">
      <input
        type="text"
        id="asset-input"
        placeholder="Asset"
        value="ETH/USDT"
      />
      <input type="number" id="window-input" placeholder="Window" value="60" />
      <button type="submit">Submit</button>
    </form>
    <canvas id="chart"></canvas>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/sma.js"></script>
  </body>
</html>
